/* Estilo para a barra lateral */
#sidebar {
    background-color: #333; /* Fundo cinza escuro */
}

.nav-link {
    color: #00cc66; /* Texto verde para links */
}

.nav-link.active {
    background-color: #00cc66; /* Fundo verde para link ativo */
    color: #fff; /* Texto branco para link ativo */
}