body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #e6e8ed;
  color: #666666;
  font-family: "Montserrat", sans-serif;
}

.dark-mode {
  background-color: #343a40;
  color: white;
}
/* Estilos adicionais para a sidebar */
.sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  background-color: #f8f9fa;
  border-right: 1px solid #dee2e6;
}
.sidebar.dark-mode {
  background-color: #343a40;
  border-color: #434a52;
}